
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: whitesmoke;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    background-color: black;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.sitename{
    color: white;
    font-size: 24px;
}

main{
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: sans-serif;
}

main section article{
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    
}

.laptop{
    font-size: 80px;
    margin-right: 50px;
}

#laptops_img{
    width: 450px;
    height: 300px;
    border-radius: 5px;
}

.monitors{
    font-size: 80px;
    margin-left: 50px;
}

#monitors_img{
    width: 450px;
    height: 300px;
    border-radius: 5px;
}

.knm{
    font-size: 80px;
    margin-right: 30px;
    text-align: left;
}

#knm_img{
    width: 450px;
    height: 300px;
    border-radius: 5px;
}

.components{
    font-size: 60px;
    margin-left: 50px;
    text-align: left;
}

#components_img{
    width: 450px;
    height: 300px;
    border-radius: 5px;
}

.hns{
    font-size: 60px;
    margin-right: 30px;
    text-align: left;
}

#hns_img{
    width: 450px;
    height: 300px;
    border-radius: 5px;
}

.nd{
    font-size: 80px;
    margin-left: 120px;
    text-align: left;
}

#nd_img{
    width: 450px;
    height: 300px;
    border-radius: 5px;
}

footer{
    background-color: black;
    width: 100%;
    margin-bottom: 0px;
    padding: 15px 30px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
}
